$charcoal-grey: #212121;
$slate-grey: #494949;
$light-grey: #cdcdcd;
$medium-grey: #989898;
$dark-grey: #757575;
$danger: #D10000;
$kohler-blue: #022E49;
$stone-grey: #424242;
$cool-grey: #A9A9A9;
$off-white: #f9f9f9;
$carbon: #5d5d5d;