@use 'colors';

/* header */
.header {
  overflow: hidden;
  background-color: colors.$light-grey;
  padding: 20px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  .logo {
    display: block;
    font-size: 2em;
    padding: 2px 20px;
    float: left;
  }
  a {
    display: block;
    padding: 16.5px 10px;
    text-decoration: none;
  }
  li a:hover,
  .menu-btn:hover {
    color: #ed7676;
    font-weight: bold;
  }
}

/* menu */
.menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.menu-icon .navicon {
  background: #ed7676;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #ed7676;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.menu-icon .navicon:before {
  top: 5px;
}
.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .menu {
  max-height: 240px;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 64em) {
  .header {
    li {
      float: left;
      &a{
        padding: 20px 30px;
      }
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
  .footer-content {
    padding: 6px 10px;
  }
}